[Unit]
Description=Start CAN BOX app at bootup
After=network.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/python3 -c '/opt/can-box/app.py'
Restart=always

[Install]
WantedBy=network.target
